* {
    margin: 0px;
    padding: 0px;
}

header {
	height: 60px;
	width: 100% ;
	position: fixed;
	background-color: white;
}	

body {
	background-image: url("img/background.jpg");
}

#logo {
	width: 150px;
	height: 150px;
	float: right;
	margin-top: 0px;
	border-radius: 100%;

}

nav {
    float: right;
    /*margin-right: 50px;
    margin-top: 40px;*/
    margin: 15px 30px 0 0;
    word-spacing: 1em;
    font-size: 18px;
}

nav li {
	list-style: none;
	display: inline-block;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

#article-list {
	background-color: rgba(224, 215, 201,0.5);
	width: 800px;
    min-height: 50px;
    margin: 20px auto 30px auto;
    padding-top: 0px;
}

article a {
	text-align: left;
	display: block;
	text-decoration: none;
}

article {
	border-style: solid;
	border-color: hsla(0,2%,90%,0.5);
	border-width: 1px;
}

p {
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 20px;
}

h1 {
	font-family: Garamond;
	font-size: 48px;
	color: white;
	padding-top: 100px;
	text-align: center;
}

h3 {
	color: #5e8fe0;
	line-height: 2.5em;
}

footer {
	height: 60px;
	width: 100% ;
	position: fixed;
	background-color: black;
	margin-top: 240px;
}

h5 {
	color: white ;
	text-align: center;
	padding-top: 20px;
	max-height: 60px;
	margin-bottom: 0; 
}